

<div class="main-container-login" > 
    <div class="custom-container">
        <div class="custom-header">
            <h2>Sign up for Spoti-fejk</h2>
        </div>
        <div class="custom-form-container">
            <% if devise_mapping.omniauthable? %>
              <% resource_class.omniauth_providers.each do |provider| %>
                <% if provider == :google_oauth2 %>
                  <%= form_for "Login",
                    url: omniauth_authorize_path(resource_name, provider),
                    method: :post,
                    data: { turbo: false } do |f| %>
                    <%= button_tag(type: 'submit', class: 'login-google') do %>
                      <img src="<%= asset_path('btn_login_google.svg') %>" alt="Google Sign-In" />
                      Continue with Google
                    <% end %>
                  <% end %>
                <% elsif provider == :facebook %>
                  <%= form_for "Login",
                    url: omniauth_authorize_path(resource_name, provider),
                    method: :post,
                    data: { turbo: false } do |f| %>
                    <%= button_tag(type: 'submit', class: 'login-google') do %>
                      <img src="<%= asset_path('facebook.svg') %>" alt="Facebook Sign-In" class="login-icons" />
                      Continue with Facebook
                    <% end %>
                  <% end %>
                <% elsif provider == :github %> <!-- Add this block for GitHub -->
                  <%= form_for "Login",
                    url: omniauth_authorize_path(resource_name, provider),
                    method: :post,
                    data: { turbo: false } do |f| %>
                    <%= button_tag(type: 'submit', class: 'login-google') do %>
                      <img src="<%= asset_path('github.svg') %>" alt="GitHub Sign-In" class="login-icons" />
                      Continue with GitHub
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            
            <hr class="login-line">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div class="custom-field">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "custom-input", placeholder: "Email" %>
                </div>

                <div class="custom-field">
                    <%= f.label :full_name %>
                    <%= f.text_field :full_name, class: "custom-input", placeholder: "Name or nickname" %>
                </div>

                <div class="custom-field">
                    <%= f.label :password %>
                    <%= f.password_field :password, autocomplete: "new-password", class: "custom-input", placeholder: "Password" %>
                </div>

                <div class="custom-field">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "custom-input", placeholder: "Password confirm" %>
                </div>


                <div class="custom-actions">
                    <%= f.submit "Sign up", class: "custom-button" %>
                </div>
            <% end %>
        </div>

    </div>
</div>
