

<% if current_user %>
<%= form_tag(@home_path, method: "get", class: "form-inline mb-2") do %>
  <div class="input-group">
    <%= text_field_tag(:search, params[:search], class: "form-control", placeholder: "Search songs, albums, and artists") %>
    <div class="input-group-append">
      <%= submit_tag("Search", class: "btn btn-outline-success") %>
    </div>
  </div>
<% end %>

<% if params[:search] %>
  <% if @search_results_available %>
    <h1>Search Results</h1>

    <% if @songs.present? %>
      <h2>Songs</h2>
      <ul>
        <% @songs.each do |song| %>
          <li><%= link_to song.name, song_path(song) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No songs available.</p>
    <% end %>

    <% if @albums.present? %>
      <h2>Albums</h2>
      <ul>
        <% @albums.each do |album| %>
          <li><%= link_to album.name, album_path(album) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No albums available.</p>
    <% end %>

    <% if @artists.present? %>
      <h2>Artists</h2>
      <ul>
        <% @artists.each do |user| %>
        <% if user.is_artist %>
          <li><%= link_to user.full_name, user_path(user) %></li>
        <% end %>
      <% end %>
    <% else %>
      <p>No artists available.</p>
    <% end %>

  <% else %>
    <p>No results found for your search.</p>
  <% end %>

<% end %>

<% else %>
<%= render partial='layouts/navbar'%>
    <div class="join-now">
        <div class="join-now-info">
            <%= image_tag("Spotify_App_Logo.png", size: "96x96", style: "border-radius: 30%;") %>
            <br>
            <h1>Join now!</h1>
            <p>Listen to tons of songs for free</p>
            <p>Search for any song, artist, album or playlist</p>
            <p>Make your own playlists</p>
            <p>Easy to use, no extra fees required</p><% if params[:search] %>
  <% if @search_results_available %>
    <h1>Search Results</h1>

    <h2>Songs</h2>
    <ul>
      <% @songs.each do |song| %>
        <p>HEHE<p>
        <li><%= link_to song.name, song_path(song) %></li>
      <% end %>
    </ul>

    <h2>Albums</h2>
    <ul>
      <% @albums.each do |album| %>
        <li><%= link_to album.name, album_path(album) %></li>
      <% end %>
    </ul>

    <h2>Artists</h2>
    <ul>
      <% @artists.each do |artist| %>
        <% if artist.user.isArtist %>
          <li><%= link_to artist.name, user_path(artist.user) %></li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>No results found for your search.</p>
  <% end %>
<% else %>
  <%= form_tag(home_path, method: "get", class: "form-inline mb-2") do %>
    <%= text_field_tag(:search, params[:search], class: "form-control mr-sm-2", placeholder: "Search songs, albums, and artists") %>
    <%= submit_tag("Search", class: "btn btn-outline-success my-2 my-sm-0") %>
  <% end %>
<% end %>

            <%= link_to 'Sign up', new_user_registration_path, class: 'home-sign-up' %>
        </div>
    </div>    

    <div class="picture-show">
        <%= image_tag("first.png") %>
        <%= image_tag("second.png") %>
        <%= image_tag("third.png") %>
        <%= image_tag("forth.png") %>
    </div>
<% end %>