<%= form_with(model: song, class: "mt-4", local: true) do |form| %>
  <% if song.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
        <% song.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter song name" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control", placeholder: "Enter song description" %>
  </div>

  <div class="form-group">
    <strong>Audio:</strong>
    <div class="custom-file">
      <%= form.file_field :mp3, id: 'audio-input', class: "custom-file-input", accept: 'audio/mpeg, audio/mp3' %>
      <%= form.label :mp3, class: "custom-file-label", data: { browse: "Browse" } %>
    </div>
  </div>

  <div class="form-group">
    <strong>Image:</strong>
    <div class="custom-file">
      <%= form.file_field :image, id: 'image-input', class: "custom-file-input", accept: "image/*" %>
      <%= form.label :image, class: "custom-file-label", data: { browse: "Browse" } %>
    </div>
  </div>

  <%= form.hidden_field :user_id, value: song.user_id %>

  <div class="form-group">
    <%= form.label :album_id %>
    <%= form.collection_select :album_id, Album.all, :id, :name, { prompt: "Select an album" }, class: "form-control" %>
  </div>

  <div class="text-center">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
