<%= form_with(model: song) do |form| %>
  <% if song.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
        <% song.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>


  <strong>Audio:</strong>
  <%= form.file_field :mp3, id: 'file-input', accept: 'audio/mpeg, audio/mp3' %>
  <br>
  <strong>Image:</strong>
  <%= form.file_field :image, id: 'file-input'%>

  <%= form.hidden_field :user_id, value: song.user_id %>

  <div>
    <%= form.label :album_id, style: "display: block" %>
    <%= form.collection_select :album_id, Album.all, :id, :name, prompt: "Brez albuma" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
