<div id="<%= dom_id song %>">
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= song.description %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= song.length %>
  </p>

  <audio controls>
    <source src="<%= url_for(song.mp3) %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  <p>
    <strong>Image:</strong>
    <%= image_tag url_for(song.image) %>
  </p>


</div>
