<div id="<%= dom_id song %>">
  <a href="#" class="song-link" data-song-id="<%= song.id %>">
    <%= song.name %>
  </a>
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= song.description %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= song.user.full_name %>
  </p>



  <p>
    <strong>Image:</strong>
    <%= image_tag url_for(song.image) %>
  </p>


</div>
