<p style="color: green"><%= notice %></p>

<h1>Songs</h1>

<div id="songs">
  <%= form_tag(songs_path, method: "get", class: "form-inline mb-2") do %>
    <div class="input-group">
      <%= text_field_tag(:search, params[:search], class: "form-control", placeholder: "Search songs") %>
      <div class="input-group-append">
        <%= submit_tag("Search", class: "btn btn-outline-success") %>
      </div>
    </div>
  <% end %>

  <% @songs.each do |song| %>
  <div id="<%= dom_id song %>" class="row mb-3">
    <% if song.image %>
      <div class="col-md-3">
        <%= image_tag url_for(song.image), class: "img-fluid-song" %>
      </div>
    <% end %>
    <% if song.name %>
      <div class="col-md-6">
        <h5><%= link_to song.name, song %></h5>
        <p><strong>Author:</strong> <%= song.user.full_name %></p>
      </div>
    <% end %>
    <div class="col-md-3">
      <a href="#" class="song-link btn btn-outline-primary mr-2" data-song-id="<%= song.id %>">
        <h5 class="card-title">Play</h5>
      </a>


    </div>
  </div>
  <% end %>
</div>

<% if current_user.is_artist %>
  <%= link_to "New song", new_song_path %>
<% end %>
