<p style="color: green"><%= notice %></p>

<h1>Songs</h1>

<div id="songs">
  <%= form_tag(songs_path, method: "get", class: "form-inline mb-2") do %>
    <div class="input-group">
      <%= text_field_tag(:search, params[:search], class: "form-control", placeholder: "Search songs") %>
      <div class="input-group-append">
        <%= submit_tag("Search", class: "btn btn-outline-success") %>
      </div>
    </div>
  <% end %>

  <ul class="list-group">
    <% @songs.each do |song| %>
      <li id="<%= dom_id song %>" class="list-group-item mb-3" style="margin-bottom: auto !important;">
        <div class="row">
          <% if song.image.present? %>
            <div class="col-md-3">
              <%= image_tag url_for(song.image), class: "img-fluid-song" %>
            </div>
          <% end %>
          <% if song.name.present? %>
            <div class="col-md-6 d-flex flex-column justify-content-center">
              <h5><%= link_to song.name, song %></h5>
              <p><strong>Author:</strong> <%= song.user.full_name %></p>
            </div>
          <% end %>
          <div class="col-md-3 d-flex align-items-center justify-content-end">
            <a href="#" class="song-link btn btn-outline-primary" data-song-id="<%= song.id %>">
              <h5 class="card-title">Play</h5>
            </a>
          </div>
        </div>
      </li>
    <% end %>
  </ul>


</div>

<% if current_user.is_artist %>
  <%= link_to "New song", new_song_path %>
<% end %>
