<p style="color: green"><%= notice %></p>

<%= render @song %>

<div>
  <% if current_user == @song.user %>
    <%= link_to "Edit this song", edit_song_path(@song) %> |
    <%= link_to "Back to songs", songs_path %>
    <%= button_to "Destroy this song", @song, method: :delete %>
  <% end %>
</div>

<%= link_to 'Add to Playlist', add_to_playlist_song_path(@song) %>
