<p style="color: green"><%= notice %></p>


<ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="mr-auto">
          <%= image_tag url_for(@song.image), class: "img-fluid-song", style:"width:32px !important; height:32px !important;" %>
          <%= @song.name %>, by
          <%= @song.user.full_name %>
        </div>
        <div class="ml-2 inline-buttons">
        <a href="#" class="song-link btn btn-outline-primary ml-2" data-song-id="<%= @song.id %>">
          <h5 class="card-title">Play</h5>
        </a>
        </div>
      </li>
</ul>

<div class="mt-3">
  <% if current_user == @song.user %>
    <%= link_to "Edit this song", edit_song_path(@song), class: "btn btn-secondary mr-2" %>
    <%= link_to "Back to songs", songs_path, class: "btn btn-secondary mr-2" %>
    <%= button_to "Destroy this song", @song, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>


<%= link_to 'Add to Playlist', add_to_playlist_song_path(@song) %>
