<%= form_with(model: playlist, class: "mt-4") do |form| %>
  <% if playlist.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
        <% playlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter playlist name" %>
  </div>

  <div class="text-center">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
