<p style="color: green"><%= notice %></p>

<%= render @playlist %>

<h2>Songs in Playlist:</h2>
<ul>
  <% @playlist.songs.each do |song| %>
    <li>
      <%= song.name %>
      <%= button_to 'Remove from Playlist', remove_from_playlist_path(playlist_id: @playlist.id, song_id: song.id), method: :delete, data: { confirm: 'Are you sure?' } %>

    </li>
  <% end %>
</ul>

<a href="#" class="song-link btn btn-outline-primary mr-2" data-playlist-id="<%= @playlist.id %>" data-song-id="<%=@playlist.songs.first.try(:id) %>">
    <h5 class="card-title">Play</h5>
</a>


<div>
  <%= link_to "Edit this playlist", edit_playlist_path(@playlist) %> |
  <%= link_to "Back to playlists", playlists_path %>
  <%= button_to "Destroy this playlist", @playlist, method: :delete %>
</div>
