<!DOCTYPE html>
<html>
  <head>
    <title>SpotiFejk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <% if user_signed_in? %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= javascript_include_tag 'audio-player' %>
    <!-- Include your audio player component -->
    <%= render partial='layouts/navbar'%>
    <div class="main-content-container">
        <main class="container main-content">
          <%= yield %>
        </main>
    </div>
    <div class="footer-player">
      <span id="current-song-name"></span>
      <a href="#" id="play-prev-song">Prev</a>
      <a href="#" id="play-next-song">Next</a>
      <audio controls id="audio-player"></audio>
    </div>
    <% else %>
      <%= yield %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
