<!DOCTYPE html>
<html>
  <head>
    <title>SpotiFejk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="audio">
  
    <% if user_signed_in? %>
    <!-- Include your audio player component -->
    <%= render partial='layouts/navbar'%>
    <div class="main-content-container">
        <main class="container main-content">
          <%= yield %>
        </main>
    </div>
    <div class="footer-player" >
      <span id="current-song-name"></span>
      <a href="#" id="play-prev-song" data-action="audio#playPreviousSong">Prev</a>
      <a href="#" id="play-next-song" data-action="audio#playNextSong">Next</a>
      <br>
      <a href="#" data-audio-target="songName" >Nič se ne predvaja</a>
      <a href="#" data-audio-target="songAuthor" ></a>
      <br>
      <audio controls id="audio-player" data-audio-target="audioPlayer"></audio>
    </div>
    <% else %>
      <%= yield %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
